#outernew{
    display:flex;
    justify-content:space-around;
}

#final{
    position: absolute;
    
    height: 250px;
    width: 500px;
    top:calc(50% - 100px);
    left:calc(50% - 250px);
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 10px white ;
    
}
body, html {
    height: 100%;
    width:100%;
    margin:0px;
    align-items: center;
    font-family: "Segoe UI",Arial,sans-serif;
}
#wonorlost{
    height: 100%;
    filter: blur(0px);
}
h1{
    font-weight: 300;
    
}
.re{
    border-style: solid;
    padding :10px 20px 10px 20px;
    border-radius: 100px;
}
.re:hover{
    background-color:rgba(127, 255, 212, 0.455);
}

#bg2 {
    /* The image used */
    background-image: url("../../media/tngbg2.webp");
  
    /* Full height and width */
    width: 100vw;
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.lowertext {
    width :200px;
}
#lower{
    display: flex;
    align-items: center;
    justify-content: center;
}
#restart:hover{
    opacity: 50%;
}